In [62]:
import os
import os.path as op
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import math
from math import sqrt

In [63]:
raw_cortex = pd.read_csv('~/Desktop/temp_storage/Hugo_MPT_Data/NT_csvs/C_C_MSD_ratio.csv', sep='\t')
raw_thalamus = pd.read_csv('~/Desktop/temp_storage/Hugo_MPT_Data/NT_csvs/T_C_MSD_ratio.csv', sep='\t')
raw_hippocampus = pd.read_csv('~/Desktop/temp_storage/Hugo_MPT_Data/NT_csvs/H_C_MSD_ratio.csv', sep='\t')

In [64]:
bins = ['AD/CD', 'ND', 'DM']
binned_data = pd.DataFrame(columns=bins)

In [65]:
binned_data

Empty DataFrame
Columns: [AD/CD, ND, DM]
Index: []

In [66]:
ND_count_cortex = 0
DM_count_cortex = 0
AD_CD_count_cortex = 0
ND_count_thalamus = 0
DM_count_thalamus = 0
AD_CD_count_thalamus = 0
ND_count_hippocampus = 0
DM_count_hippocampus = 0
AD_CD_count_hippocampus = 0

for data in range(0,len(raw_cortex)):
    if raw_cortex['0'][data] < 0:
        DM_count_cortex += 1
    elif raw_cortex['0'][data] > 0.1:
        AD_CD_count_cortex += 1
    else:
        ND_count_cortex += 1

for data in range(0,len(raw_thalamus)):
    if raw_thalamus['0'][data] < 0:
        DM_count_thalamus += 1
    elif raw_thalamus['0'][data] > 0.1:
        AD_CD_count_thalamus += 1
    else:
        ND_count_thalamus += 1

for data in range(0,len(raw_hippocampus)):
    if raw_hippocampus['0'][data] < 0:
        DM_count_hippocampus += 1
    elif raw_hippocampus['0'][data] > 0.1:
        AD_CD_count_hippocampus += 1
    else:
        ND_count_hippocampus += 1

total_cortex = AD_CD_count_cortex+ND_count_cortex+DM_count_cortex
total_thalamus = AD_CD_count_thalamus+ND_count_thalamus+DM_count_thalamus
total_hippocampus = AD_CD_count_hippocampus+ND_count_hippocampus+DM_count_hippocampus
total_combined = total_cortex+total_thalamus+total_hippocampus

binned_data.loc['cortex'] = [AD_CD_count_cortex/total_cortex*100, ND_count_cortex/total_cortex*100, DM_count_cortex/total_cortex*100]
binned_data.loc['thalamus'] = [AD_CD_count_thalamus/total_thalamus*100, ND_count_thalamus/total_thalamus*100, DM_count_thalamus/total_thalamus*100]
binned_data.loc['hippocampus'] = [AD_CD_count_hippocampus/total_hippocampus*100, ND_count_hippocampus/total_hippocampus*100, DM_count_hippocampus/total_hippocampus*100]
binned_data.loc['combined'] = [(AD_CD_count_cortex+AD_CD_count_thalamus+AD_CD_count_hippocampus)/total_combined*100, (ND_count_cortex+ND_count_thalamus+ND_count_hippocampus)/total_combined*100, (DM_count_cortex+DM_count_thalamus+DM_count_hippocampus)/total_combined*100]
binned_data.to_csv('~/Desktop/temp_storage/Hugo_MPT_Data/NT_csvs/NT_combined_MSD_ratio_binned.csv', mode='w')

In [61]:
binned_data

                 AD/CD         ND         DM
cortex       53.712534  23.262943  23.024523
thalamus     49.667616  25.852063  24.480321
hippocampus  52.238806  27.611940  20.149254
combined     50.674990  25.314085  24.010925

In [67]:
binned_data

                 AD/CD         ND         DM
cortex       39.097870  27.907343  32.994788
thalamus     46.785590  29.292451  23.921958
hippocampus  38.956361  28.464545  32.579095
combined     40.809806  28.436678  30.753515